<%= render 'books/list', book: @book %>

 <div class="col-md-8 offset-md-1">
  <h2>Users</h2>
  <table class="table table-hover table-inverse">
   <thead>
    <tr>
     <th>image</th>
     <th>name</th>
     <th></th>
    </tr>
     <% @users.each do |user| %>
    <tr>
     <td>
    <% if user.profile_image.attached? %>
     <%= image_tag user.profile_image, size: "100x100" %>
    <% else %>
     <%= image_tag 'no_image', size: "100x100" %>
    <% end %>
     </td>
     <td>
       <%= user.name %>
     </td>
     <td>
       <%= link_to "show", user_path(user.id) %>
     </td>
     <td>
     </td>
    </tr>
     <% end %>
  </table>
  </div>